#main-logo {
    width: 40px;
}

#menu-container {
    background: rgb(119,182,242);
    background: linear-gradient(180deg, rgba(119,182,242,1) 0%, rgba(16,74,116,1) 100%);
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 56px;
    top: 0px;
    border-top: 1px solid white;
}

.branding {
    padding: 5px !important;
    border-top: none !important;
    border-right: none !important;
}

#menu-container > .item {
    padding: 15px;
    color: white;
    cursor: default;
    border: 1px solid white;
    display: inline-block;
}